.container{
    min-height: 99vh;
    box-shadow: 4px 4px 10px 4px lightgray;
    background: url("../../../../dist/img/backgroung.png") center bottom repeat-x #ffffff;
    background-size: 50%;
    padding-bottom: 21%;
}
.title {
    text-align: center;
}
.app{
    width: 60%;
    margin: 0 auto;
}