.delete-btn{
    text-align: center;
    width: 80%;
    border: solid 1px red;
    border-radius: 10%;
    transition: all ease-in-out 20ms;
}
.delete-btn:hover{
    background-color: red;
    cursor: default;
}
.delete-btn:active{
    box-shadow: 0 0 4px red;
}
.confirm-block {
    font-size: small;
    max-width: 100%;
}
.cancel, .del{
    font-size: small;
    text-align: center;
}
.cancel p, .del p{
    margin-bottom: 0;
    padding: 5%;
}
.cancel{
    background: lightgray;
    border-radius: 0 10% 10% 0;
}
.cancel:hover{
    background: darkgrey;
    color: white;
    cursor: default;
}
.del{
    background: red;
    border-radius: 10% 0 0 10%;
}
.del:hover{
    color: white;
    font-weight: bold;
    cursor: default;
}
.hidden {
    display: none;
}