.task:hover .text-progress, .task:hover .text-done{
    cursor: default;
    text-shadow: 0 1px 1px lightgray;
    border-bottom: 1px lightgray dotted;
}
.task:hover .in-progress, .task:hover .done{
    background: url("../../../img/hover.png") center no-repeat;
    background-size: contain;
}
.checkbox{
    visibility: hidden;
}
.in-progress, .done {
    max-width: 100%;
    min-width: 35px;
    transition: all ease-in-out 30ms;
}
.in-progress{
    background: url("../../../img/progress.png") center no-repeat;
    background-size: contain;
}
.done {
    background: url("../../../img/done.png") center no-repeat;
    background-size: contain;
}
.text-done, .text-progress{
    word-break: break-all;
}
.text-progress{
    text-decoration: none;
    transition: all ease-in-out 10ms;
}
.text-done{
    color: grey;
    text-decoration: line-through;
    transition: all ease-in-out 10ms;
}
.hidden {
    display: none;
}
