.task:hover .text-progress, .task:hover .text-done{
    cursor: default;
    background: #fff7f0;
}
.checkbox{
    visibility: hidden;
}
.in-progress, .done {
    max-width: 100%;
    min-width: 35px;
    transition: all ease-in-out 400ms;
}
.in-progress{
    background: url("../../../../dist/img/progress.png") center no-repeat;
    background-size: contain;
}
.done {
    background: url("../../../../dist/img/done.png") center no-repeat;
    background-size: contain;
}
.text-done, .text-progress{
    word-break: break-all;
}
.text-progress{
    text-decoration: none;
    transition: all ease-in-out 200ms;
}
.text-done{
    color: grey;
    text-decoration: line-through;
    transition: all ease-in-out 200ms;
}
.hidden {
    display: none;
}
